.forth_design{
    /* max-width: 1200px; */
    max-width: 1000px;
    /* margin:auto; */
    margin-left: 330px;
    /* margin-bottom: 100px; */
    display:flex;
    gap: 150px;
    align-items: center;
 }
 
 /* .feature_banner{
     display:flex;
     justify-content: space-around;
     align-items:center;
     gap:150px;
 } */
 .horse_man{
     width:500px;
 }
 .container5{
     margin-bottom:150px;
 }
     
 
 .container5 h1{
     font-size:40px;
     /* line-height:20px; */
     text-align: center;
 }
 .container5 p{
     text-align: center;
     font-size:14px;
     line-height:20px;
 }
 .pink_word{
     color:#FF42A5
 }
 
 .img_badge{
     width: 180px;
     /* padding: 40px; */
     text-align: center;
     border-radius: 5px;
     position: relative;
     bottom: 200px;
     right: 80px;
 
 }
 .pink_cat{
     width:230px;
     
 }
 
 /* .pink_cat{
     height: 360px;
   border-radius: 8px;
   border: 1px solid #FFF;
   background: url(<path-to-image>), lightgray 0px -0.304px / 100% 117.229% no-repeat;
   position: relative;
   bottom: 300px;
   right: 180px;
 } */
 #one{
     width: 48px;
     height: 48px;
     position: absolute;
     bottom: 42%;
     left: 42%;
 }.forth_design{
    /* max-width: 1200px; */
    max-width: 1000px;
    /* margin:auto; */
    margin-left: 330px;
    /* margin-bottom: 100px; */
 }
 
 .feature_banner{
     display:flex;
     justify-content: space-around;
     align-items:center;
     gap:150px;
 }
 .horse_man{
     width:500px;
 }
 .container5{
     margin-bottom:150px;
 }
     
 
 .container5 h1{
     font-size:40px;
     /* line-height:20px; */
     text-align: center;
 }
 .container5 p{
     text-align: center;
     font-size:14px;
     line-height:20px;
 }
 .pink_word{
     color:#FF42A5
 }
 
 .img_badge{
     width: 180px;
     /* padding: 40px; */
     text-align: center;
     border-radius: 5px;
     position: relative;
     bottom: 200px;
     right: 80px;
 
 }
 .pink_cat{
     width:230px;
     
 }
 
 /* .pink_cat{
     height: 360px;
   border-radius: 8px;
   border: 1px solid #FFF;
   background: url(<path-to-image>), lightgray 0px -0.304px / 100% 117.229% no-repeat;
   position: relative;
   bottom: 300px;
   right: 180px;
 } */
 #one{
     width: 48px;
     height: 48px;
     position: absolute;
     bottom: 42%;
     left: 42%;
 }

 .fifth_design{
    
    /* width: 1013px;
height: 821px; */
top: 4863.83px;
left: 1920px;
gap: 0px;
opacity: 0px;
/* angle: 180 deg; */
background-color: #FF42A5;
/* background-color: #F948B2; */

}
.pink_container{
    display: flex;
    align-items: center;
}

.sentence_container2{
    display: flex;
    /* text-align: center; */
}
.group_img_65{
    width:800px
}
.sentence_container1 h2{
    font-size: 35px;
    color: #fff;
    font-weight: 700;
}
.sentence_container1 p{
    font-size:13px;
    color: #Fff;

}
.sentence1 p .sentence2 p{
    font-size:14px;
    color: #Fff;
}
.hi{
    fill: linear-gradient(235deg, rgba(140, 87, 238, 0.03) 3.9%, rgba(241, 68, 174, 0.03) 100.56%);
}